@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.principal img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;   
}   

.principal h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 35px;
}

.principal p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


.marcador {
     display: flex;
     justify-content: center;
     margin-top: 30px;
     margin-bottom: 15px;        
}

input[type="radio"]{
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: #92E3A9;
    border: none;
}

.botao{
    display: block;
    text-align: center;
    padding: 25px;
}

.botao-continue {
    border: none;
    text-decoration: none;
    width: 308px;
    height: 54px;
    background: #92E3A9;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 1em #A1C3FC;
}

.botao-continue:hover{
    background: #7aec9b;
    color: white;
    transition: 0.5s;
}

.botao-skip {  
    text-decoration: none;
    font-size: 18px;
    color: #92E3A9;  
}

.botao-skip:hover {
    font-size: 20px;
}

hr {
    width: 124px;
    height: 5px;
    background: black;
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    left: 20px;
    right: 20px;
}

@media screen and (max-width:480px) {
    .principal{
        margin-top: 40px;
   }

   img {
    margin-top: 40px;
    margin-bottom: 0;
   }

   p {
    padding-left: 45px;
    padding-right: 45px;
   }

   .marcador {
    padding-top: 40px;
    padding-bottom: 40px;
   }
}